---
import heroImage from "assets/logo1.svg";
---


<div class="flex w-full lg:w-auto items-center justify-between">
    <Picture
    src={heroImage}
    alt="Astronaut in the air"   
    loading="eager"
    format="avif"
    />
    <a href="/" class="text-lg"
      >
      <!--<span class="font-bold text-slate-800">Template</span><span
        class="text-slate-500"> site</span
      >-->
    </a>
    <div class="block lg:hidden">
      <MenuIcon class="w-4 h-4 text-gray-800" />
    </div>
  </div>